body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


body{
  background-image: url('../Imagenes/fondohome.svg');
  width: 100%;
  background-size: cover;       
  background-position: center;    
  background-repeat: no-repeat;   
}


.logo{
  padding-right: 60%;
  padding-top: 10px;
}



.container {

  background-repeat: repeat; /* Repite la imagen de fondo */
  background-size: auto; /* Mantiene el tama침o original de la imagen */
  width: 100%;
  min-height: 100vh;
  position: relative;
  color: white;
  text-align: center;
}

nav {
  
  background: none;
  padding: 10px 0;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li:hover{
  background: linear-gradient(20deg, black, rgb(192, 127, 6));
  padding: 2px;
  cursor: pointer;
  list-style-position: none;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
}

h1 {
  font-size: 48px;
  margin-bottom: 0px;
}

.blog-post {
  display: flex;
  flex-direction: column;
  margin-top: 6%;
  margin-bottom: 20px;
  max-width: 500px;
  min-height: 50px;
  width: 100%;
  height: 80%;
}

.blog-text, .blog-image {
  margin: auto ;
  width: 100%;
}

.blog-image img {
  width: 100%;
  height: auto;
  max-width: 500px; /* Tama침o m치ximo de las im치genes */
  border-radius: 8px;
}

@media (max-width: 600px) {
  .blog-image img {
    max-width: 100%;
  }
}





